[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.1"
gunicorn = "==19.9.0"
python = "*"
3-6-8 = "*"
3-6 = "*"
3-6-6 = "*"
3-7 = "*"

[requires]
python_version = "3.7"
